#movies img,
#movie img {
  width: 100%;
}
.brand-text {
  font-size: 2rem;
}
#react-logo {
  color: #00d8ff;
}
#imdb-logo {
  color: #f5de50;
}
@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}

.navbar-text{
  color: white !important;
  height: 50px;
  font-weight: bold;
  font-size: 15px;

}

.auto-widget{

  background: #F6C6CE;
}